@page "/settings"
@using WFBot.Orichalt
@using GammaLibrary.Extensions
<PageTitle>设置</PageTitle>

<h1>设置</h1>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="() => Config.Save()">保存</button>
</div>


<div class="card mb-3">
    <div class="card-body "  >
            <div style="max-height: 600px; overflow-y: auto; overflow-x: hidden;">
            <fieldset style="margin-right: 20px">
            <h2>标准设置</h2>
            <div class="mb-2 row">
                <label class="col-sm-2">连接器</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.Unknown" @bind-TrueValue="platform" id="mahRadio3"/>
                        <label class="form-check-label" style="color: darkgray" for="mahRadio3">未选择</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.Test" @bind-TrueValue="platform" id="mahRadio2"/>
                        <label class="form-check-label" style="color: darkgrey" for="mahRadio2">测试模式</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.Kook" @bind-TrueValue="platform" id="kaiheilaRadio"/>
                        <label class="form-check-label" for="kaiheilaRadio">开黑啦/KOOK</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.MiraiHTTP" @bind-TrueValue="platform" id="mahRadio"/>
                        <label class="form-check-label" for="mahRadio">Mirai-API-Http v2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.MiraiHTTPV1" @bind-TrueValue="platform" id="mahRadio5"/>
                        <label class="form-check-label" for="mahRadio5">Mirai-API-Http v1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="MessagePlatform.OneBot" @bind-TrueValue="platform" id="mahRadio1"/>
                        <label class="form-check-label" for="mahRadio1">Onebot</label>
                    </div>
                </div>
            </div>


            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.IsSlashRequired" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        是否需要在命令前加/
                    </label>
                </div>
            </div>

            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.NotifyBeforeResult" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        长时间查询前通知
                    </label>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.UpdateLexion" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        是否需要更新词库
                    </label>
                </div>
            </div>

            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.IsAlertRequiredRareItem" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        是否需要提醒稀有物品
                    </label>
                </div>
            </div>

            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.SendResourceUpdateNotification" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        是否发送资源正在更新的提醒
                    </label>
                </div>
            </div>

            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.EnableCustomCommandContent" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        启用自定义消息内容
                    </label>
                </div>
            </div>
            
            <div class="mb-2">
                <div class="form-check form-switch">
                    <input @bind="config.EnableImageRendering" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        启用图片渲染
                    </label>
                </div>
            </div>

            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">WebUI 密码</label>
                <div class="col-sm-9">
                    <input @bind="config.WebUIPassword" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">用于修改机器人的口令</label>
                <div class="col-sm-9">
                    <input @bind="config.Code" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">接收所有提示和报错的私聊QQ号</label>
                <div class="col-sm-9">
                    <input @bind="config.QQ" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">GitHub Token</label>
                <div class="col-sm-9">
                    <input @bind="config.GitHubOAuthKey" type="text" class="form-control">
                </div>
            </div>




            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">每分钟每个群调用次数上限（0为无限制）</label>
                <div class="col-sm-9">
                    <input @bind="config.CallperMinute" type="number" class="form-control">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">每次发送的紫卡条目数</label>
                <div class="col-sm-9">
                    <input @bind="config.WFASearchCount" type="number" class="form-control">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-3 col-form-label">每次发送WM搜索的条目数</label>
                <div class="col-sm-9">
                    <input @bind="config.WMSearchCount" type="number" class="form-control">
                </div>
            </div>





            <div class="mb-2 row">
                <label class="col-sm-3">平台</label>
                <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="Platform.PC" @bind-TrueValue="wfplatform" id="pradio1"/>
                        <label class="form-check-label" for="pradio1">PC</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="Platform.NS" @bind-TrueValue="wfplatform" id="pradio2"/>
                        <label class="form-check-label" for="pradio2">NS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="Platform.PS4" @bind-TrueValue="wfplatform" id="pradio3"/>
                        <label class="form-check-label" for="pradio3">PS4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputRadioForkMicrosoft SelectedValue="Platform.XBOX" @bind-TrueValue="wfplatform" id="pradio4"/>
                        <label class="form-check-label" for="pradio4">Xbox</label>
                    </div>
                </div>
            </div>

            <h3 class="my-4">发送通知的群号</h3>

            <textarea type="text" @bind="NotifyGroupList" class="form-control my-3" style="min-height: 300px">
                </textarea>



            <h2>入侵通知设置</h2>
            <h3>快捷设置</h3>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox1" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text1</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox2" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text2</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox3" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text3</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox4" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text4</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox5" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text5</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox6" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text6</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox7" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text7</label>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-text">
                    <input @bind="Checkbox8" class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <label type="text" class="form-control">@Text8</label>
            </div>




                <h3 class="my-2">自定义入侵设置</h3>
            <textarea type="text" @bind="CustomList" class="form-control my-3" style="min-height: 300px">

</textarea>

            </fieldset>
                
                
                

            </div>
    </div>
</div>

@code
{
    Config config => Config.Instance;
    MessagePlatform platform { get => config.Miguel_Platform; set => config.Miguel_Platform = value; }
    string NotifyGroupList
    {
        get => config.WFGroupList.Connect("\n");
        set => config.WFGroupList = value.Split("\n").Where(v => v.NotNullNorWhiteSpace()).ToList();
    }
    Platform wfplatform
    {
        get => config.Platform;
        set => config.Platform = value;
    }

    #region 入侵自定义

    bool Checkbox1
    {
        get => InvationReward1.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward1);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward1.Contains(x));
            }
        }
    }
    string Text1 = "电磁力场装置";
    string[] InvationReward1 = new[] { "电磁力场装置" };

    bool Checkbox2
    {
        get => InvationReward2.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward2);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward2.Contains(x));
            }
        }
    }
    string Text2 = "爆燃喷射器";
    string[] InvationReward2 = new[] { "爆燃喷射器" };

    bool Checkbox3
    {
        get => InvationReward3.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward3);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward3.Contains(x));
            }
        }
    }
    string Text3 = "突变原聚合物";
    string[] InvationReward3 = new[] { "突变原聚合物" };


    bool Checkbox4
    {
        get => InvationReward4.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward4);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward4.Contains(x));
            }
        }
    }
    string Text4 = "武器部件";
    string[] InvationReward4 = new[] {
"德拉 破坏者 蓝图",
"德拉 破坏者 枪管",
"德拉 破坏者 枪机",
"德拉 破坏者 枪托",
"狙击特昂 破坏者 蓝图",
"狙击特昂 破坏者 枪管",
"狙击特昂 破坏者 枪机",
"狙击特昂 破坏者 枪托",
"卡拉克 亡魂 蓝图",
"卡拉克 亡魂 枪管",
"卡拉克 亡魂 枪机",
"卡拉克 亡魂 枪托",
"拉特昂 亡魂 蓝图",
"拉特昂 亡魂 枪管",
"拉特昂 亡魂 枪机",
"拉特昂 亡魂 枪托",
"斯特朗 亡魂 蓝图",
"斯特朗 亡魂 枪机",
"斯特朗 亡魂 枪托",
"斯特朗 亡魂 枪管",
"双子蝰蛇 亡魂 蓝图",
"双子蝰蛇 亡魂 枪管",
"双子蝰蛇 亡魂 枪机",
"双子蝰蛇 亡魂 连接器",
"希芙 蓝图",
"希芙 刀刃",
"希芙 握柄",
"希芙 散热器"};
    bool Checkbox5
    {
        get => InvationReward5.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward5);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward5.Contains(x));
            }
        }
    }
    string Text5 = "Orokin 催化剂/反应堆 蓝图";
    string[] InvationReward5 = new[] { "OROKIN催化剂 蓝图",
"OROKIN反应堆 蓝图" };

    bool Checkbox6
    {
        get => InvationReward6.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward6);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward6.Contains(x));
            }
        }
    }
    string Text6 = "异融ALAD V导航座标";
    string[] InvationReward6 = new[] { "异融ALAD V导航座标" };

    bool Checkbox7
    {
        get => InvationReward7.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward7);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward7.Contains(x));
            }
        }
    }
    string Text7 = "Forma 蓝图";
    string[] InvationReward7 = new[] { "FORMA 蓝图" };

    bool Checkbox8
    {
        get => InvationReward8.ToHashSet().Intersect(Config.Instance.InvationRewardList).Any();
        set
        {
            if (value)
            {

                Config.Instance.InvationRewardList.AddRange(InvationReward8);
            }
            else
            {
                Config.Instance.InvationRewardList.RemoveAll(x => InvationReward8.Contains(x));
            }
        }
    }
    string Text8 = "特殊功能槽连接器 蓝图";
    string[] InvationReward8 = new[] { "特殊功能槽连接器 蓝图" };
    string CustomList
    {
        get
        {
            return Config.Instance.InvationRewardList.ToArray().Connect("\n");
        }
        set
        {
            Config.Instance.InvationRewardList = value.Split('\n').ToList();
        }

    }



    #endregion
}
